# Arquivos Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform.tfvars
*.tfvars.backup

# Arquivos de configuração por ambiente (manter apenas .example versionado)
# Descomente a linha abaixo se quiser ignorar os arquivos de ambiente também
# terraform.tfvars.*
# !terraform.tfvars.example

# Arquivos de override
override.tf
override.tf.json
*_override.tf
*_override.tf.json
